body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* CSS for game area content */
.game_area{
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid darkslategray;
    border-radius: 10px;
}

.header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {

}

.puzzle_letters {
    display: inline-block;
    font-size: 1.5em;
    padding: 1px;
}

button {
    font-size: 1.5em;
    padding: 3px;
    margin: 3px;
}

.current_word {
    font-size: 2rem;
}

/* CSS for letter inputs */
.letters{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.letters_norm {
    display: inline-block;
    font-size: 2rem;
    width: 30px;
    margin-top: 5px;
    border-radius: 1px;
    border: 1px solid darkgray;
}

.letters_norm:hover {
    background-color: darkgrey;
}

.letters_correct {
    display: inline-block;
    font-size: 2rem;
    width: 30px;
    margin-top: 5px;
    border-radius: 1px;
    border: 1px solid darkgray;
    background-color: green;
}

.letters_wrong {
    display: inline-block;
    font-size: 2rem;
    width: 30px;
    margin-top: 5px;
    border-radius: 1px;
    border: 1px solid darkgray;
    background-color: red;
}