body {
    font-family: 'Source Sans 3', sans-serif;
    background-color: #f2eaea;
    color: #0e1414;
}

/* CSS for game area content */
.game_area{
    position: relative;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    border: 2px solid #0e1414;
    border-radius: 10px;
}

.header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

.hangman_image {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 350px;
}

.puzzle_letters {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    font-size: 1.5em;
    padding: 1px;
}

button {
    font-size: 1.5em;
    padding: 3px;
    margin: 3px;
    color: #0e1414;
}

.current_word {
    font-size: 2rem;
}

/* CSS for letter inputs */
.letters{
    font-family: 'Oswald', sans-serif;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.letters_norm {
    display: inline-block;
    font-size: 2rem;
    width: 30px;
    margin-top: 5px;
    border-radius: 1px;
    border: 1px solid #0e1414;
    color: #0e1414;
}

.letters_norm:hover {
    background-color: #a9a9a9;
}

.letters_correct {
    display: inline-block;
    font-size: 2rem;
    width: 30px;
    margin-top: 5px;
    border-radius: 1px;
    border: 1px solid #0e1414;
    background-color: #008000;
}

.letters_wrong {
    display: inline-block;
    font-size: 2rem;
    width: 30px;
    margin-top: 5px;
    border-radius: 1px;
    border: 1px solid #0e1414;
    background-color: #ff0000;
}

/* CSS for pop ups from https://www.w3schools.com/howto/howto_js_popup.asp */

/* Popup container 
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  */
  /* The actual popup (appears on top) */
  .popup_text {
    visibility: hidden;
    width: 300px;
    max-height: 600px;
    padding: 5px;
    background-color: #555555;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
  }

  /* CSS for instructions popup with scroll bar */

  .popup_instructions {
    visibility: hidden;
    width: 300px;
    max-height: 600px;
    min-height: 200px;
    padding: 5px;
    background-color: #555555;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    overflow-y: auto;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }